














body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
  font-size: 10px;
}
 
/*セクションの基本レイアウト*/
div {
  box-sizing: border-box;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5%;
  text-shadow: 0 2px 10px rgba(0,0,0,.6);
}
/*パララックス用の背景レイヤー*/
.parallax-section {
  background-image:url('https://picsum.photos/id/1015/1600/1000');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50dvh; /* 画面の半分 */
  font-size: 5rem; /* ← 他サンプルと統一 */
}
 

/* 各背景の画像 */
.img-section-01 { background-image: url("background.jpg"); }
.img-section-02 { background-image: url("dog.jpg"); }
.img-section-03 { background-image: url("秋田犬.gif"); }

/*スクロールするコンテンツ*/
.content-section1 { background-color: #555; min-height: 60dvh; font-size: 5rem; }
.content-section2 { background-color: #555; min-height: 60dvh; font-size: 5rem; }
.content-section3 { background-color: #555; min-height: 60dvh; font-size: 5rem; }

















@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family:'Open Sans', sans-serif;
  width:90%;
  margin:0 auto;
  padding:2em 0 6em;
}
h1:before{
  content: "// ";
}
h1{
  font-size:3em;
  color:#fefefe;
  text-transform:lowercase;
}
.wrapper{
  margin:3em 0;
}
a,a:visited,a:hover,a:active{
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:relative;
  transition:0.5s color ease;
  text-decoration:none;
  color:black;
  font-size:2.5em;
}
a:hover{
  color:#d73444;
}
a.before:before,a.after:after{
  content: "";
  transition:0.5s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
}
a.before:before{
  top:-0.25em;
}
a.after:after{
  bottom:-0.25em;
}
a.before:before,a.after:after{
  height:5px;
  height:0.35rem;
  width:0;
  background:#d73444;
}
a.first:after{
  left:0;
}
a.second:after{
  right:0;
}
a.third:after,a.sixth:before,a.sixth:after{
  left:50%;
  -webkit-transform:translateX(-50%);
          transform:translateX(-50%);
}
a.fourth:before,a.fourth:after{
  left:0;
}
a.fifth:before,a.fifth:after{
  right:0;
}
a.seventh:before{
  right:0;
}
a.seventh:after{
  left:0;
}
a.eigth:before{
  left:0;
}
a.eigth:after{
  right:0;
}
a.before:hover:before,a.after:hover:after{
  width:100%;
}
.square{
  box-sizing:border-box;
  margin-left:-0.4em;
  position:relative;
  font-size:2.5em;
  overflow:hidden;
}
.square a{
  position:static;
  font-size:100%;
  padding:0.2em 0.4em;
}
.square:before,.square:after{
  content: "";
  box-sizing:border-box;
  transition:0.25s all ease;
  -webkit-backface-visibility:hidden;
          backface-visibility:hidden;
  position:absolute;
  width:5px;
  width:0.35rem;
  height:0;
  background:#d73444;
}
.square:before{
  left:0;
  bottom:-0.2em;
}
.square.individual:before{
  transition-delay:0.6s;
}
.square:after{
  right:0;
  top:-0.2em;
}
.square.individual:after{
  transition-delay:0.2s;
}
.square a:before{
  left:0;
  transition:0.25s all ease;
}
.square a:after{
  right:0;
  transition:0.25s all ease;
}
.square.individual a:after{
  transition:0.25s all ease 0.4s;
}
.square:hover:before,.square:hover:after{
  height:calc(100% + 0.4em);
}
.square:hover a:before,.square:hover a:after{
  width:100%;


/* --- General Pen Styles --- */
body{
  font-family: Georgia, serif;
  color: #333;
  font-size: 18px;
  line-height: 24px;
}
h1{
  font-size: 50px;
  line-height: 1.125;
}
.contained{
  margin: 0 auto;
  width: 90%;
  @media (min-width: 500px){
    width: 80%;
  }
  @media (min-width: 600px){
    width: 60%;
  }
}
main{
  padding: 1em 0;
  position: relative;
  background: #f5f5f5;
  box-shadow: 0px -10px 60px rgba(0,0,0,0.25);
}


























































